<%- include('../layouts/header.ejs') %> <%- include('../layouts/nav.ejs') %>
<div class="jumbotron text-center"><h2>Edit Idea</h2></div>

<%if(ideas){ %>
<div class="container">
  <div class="card card-body">
    <form action="/idea/edit/<%= ideas.id%>?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT" />
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          value="<%= ideas.title %>"
          class="form-control"
          placeholder="Add a title"
        />
      </div>
      <div class="form-group">
        <label for="details">Details</label>
        <input
          type="text"
          value="<%= ideas.details %>"
          name="details"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-success">Update Idea</button>
    </form>
    <% } else { %>
    <p class="text-center">Server unreachable</p>
    <% } %>
  </div>
</div>
<%- include('../layouts/footer.ejs') %>
