<%- include('../layouts/header.ejs') %> <%- include('../layouts/nav.ejs') %>

<div class="jumbotron text-center">
  <h2>Ideas</h2>
  <p>All ideas</p>
</div>
<%if(ideas){ %> <% for(let i of ideas){ %>
<div class="container-fluid">

  <div class="card card-body mb-2">
    <h4>
      <%= i.title %>
    </h4>
    <p>
      <%= i.details %>
    </p>
    <a href="/idea/edit/<%= i.id %>" class="btn btn-success mb-3">Update</a>
    <form action="/idea/delete/<%= i.id%>?_method=DELETE" 
      method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" name="null" class="btn btn-danger btn-block" value="Delete">
    </form>
  </div>

</div>
  <% }} else { %>
  <p class="text-center">No idea found</p>
  <% } %>
</div>
<%- include('../layouts/footer.ejs') %>